@{
    ViewBag.Title = "Foto";
}


<div class="picasagallery"></div>

<script type="text/javascript">
    $(document).ready(function () { $('.picasagallery').picasagallery({ username: 'alan.hamlett' }); });
</script>
