@model IEnumerable<PaskalaRitenis.Models.RezultatiModel>
@{
    ViewBag.Title = "Olimpiāžu Rezultāti";
    string webRootPath = Request.Url.GetLeftPart(UriPartial.Authority) + "/Files";
    
}
<h2>@ViewBag.Title</h2>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-4 text-center">
        <button class="submit-btn" onclick="location.href = '@webRootPath/@item.RezultatiLink'">@item.Gads.ToString()</button>
    </div>
}
</div>


@*<script type="text/javascript">

    function getFile(id) {
        if (id > 0) {
            var action = "@Url.Action("GetFile", "Results")?id=" + id;
            location.href = action;
        }
    }

</script>*@