@model IEnumerable<PaskalaRitenis.Models.RezultatiModel>
@{
    ViewBag.Title = "Olimpiāžu Rezultāti";
}
<h2>@ViewBag.Title</h2>

@foreach (var item in Model)
{
    <button class="submit-btn" onclick="getFile(@item.RezultatsID)">@item.Gads.ToString()</button><br />
}

<script type="text/javascript">

    function getFile(id) {
        if (id > 0) {
            var action = "@Url.Action("GetFile", "Results")?id=" + id;
            location.href = action;
        }
    }

</script>