@{
    ViewBag.Title = "SuccessRegistr";
}

<h2>Paldies par reģistrāciju!</h2>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () { window.location = '@Url.Action("Index", "Home")' }, 5000);
    });
    
</script>
