@{
    ViewBag.Title = "Atbalstītāji";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<script type="text/javascript" src="~/Content/js/hugeitmicro.js"></script>
<link rel="stylesheet" href="~/Content/hugeitmicro.css" />
 
<section id="huge_it_gallery_content_11">
  <div id="huge_it_gallery_container_11" class="super-list variable-sizes clearfix hugeitmicro" style="position: relative; overflow: hidden; height: 894px;">
  			<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/globs_logo-2.jpg" class="group1 cboxElement"><img id="wd-cl-img0" src="~/Images/supporters/globs_logo-2.jpg" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 0px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/daritajiem.jpg" class="group1 cboxElement"><img id="wd-cl-img1" src="~/Images/supporters/daritajiem.jpg" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 0px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/latvijas_maiznieks.png" class="group1 cboxElement"><img id="wd-cl-img2" src="~/Images/supporters/latvijas_maiznieks.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 0px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/daugavpils-pilsetas-izgliti.png" class="group1 cboxElement"><img id="wd-cl-img3" src="~/Images/supporters/daugavpils-pilsetas-izgliti.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 146px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/rotkoCentrs1.png" class="group1 cboxElement"><img id="wd-cl-img4" src="~/Images/supporters/rotkoCentrs1.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 247px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/ctco_logo.png" class="group1 cboxElement"><img id="wd-cl-img5" src="~/Images/supporters/ctco_logo.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 278px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/dautkom.png" class="group1 cboxElement"><img id="wd-cl-img6" src="~/Images/supporters/dautkom.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 310px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/binitex_large.png" class="group1 cboxElement"><img id="wd-cl-img7" src="~/Images/supporters/binitex_large.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 331px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/geidans.png" class="group1 cboxElement"><img id="wd-cl-img8" src="~/Images/supporters/geidans.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 349px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/1c.png" class="group1 cboxElement"><img id="wd-cl-img9" src="~/Images/supporters/1c.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 480px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/lielvards.png" class="group1 cboxElement"><img id="wd-cl-img10" src="~/Images/supporters/lielvards.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 503px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/latinsoft.png" class="group1 cboxElement"><img id="wd-cl-img11" src="~/Images/supporters/latinsoft.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 512px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/REM_PRO.jpg" class="group1 cboxElement"><img id="wd-cl-img12" src="~/Images/supporters/REM_PRO.jpg" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 554px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/protams.png" class="group1 cboxElement"><img id="wd-cl-img13" src="~/Images/supporters/protams.png" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(285px, 593px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/mc_color.jpg" class="group1 cboxElement"><img id="wd-cl-img14" src="~/Images/supporters/mc_color.jpg" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(570px, 647px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/e.jpg" class="group1 cboxElement"><img id="wd-cl-img15" src="~/Images/supporters/e.jpg" alt=""></a>
							
							</div>
					</div>	
				<div class="element_11 hugeitmicro-item" tabindex="0" data-symbol="" data-category="alkaline-earth" style="position: absolute; left: 0px; top: 0px; transform: translate3d(855px, 680px, 0px);">
			<div class="image-block_11">
													
																					<a href="~/Images/supporters/BTG_logo.png" class="group1 cboxElement"><img id="wd-cl-img16" src="~/Images/supporters/BTG_logo.png" alt=""></a>
							
							</div>
					</div>	
			<div style="clear:both;"></div>
  </div>
</section>
