@model IEnumerable<PaskalaRitenis.Models.NewsModel>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/jquery.easy-ticker.js"></script>
<section class="featured">
    <div class="content-wrapper">
        <h2>Ziņas</h2>
    </div>
    <div class="vticker">
        <ul>
            @foreach (var item in Model)
            { 
                <li>
                    @Html.Raw(item.Info)
                </li>
            }
        </ul>

    </div>
    <div class="carouselTicker">
        <ul class="carouselTicker__list">
            @foreach (var item in Model)
            { 
                <li class="carouselTicker__item">
                    //TODO: Atbalstītāji
                </li>
            }
        </ul>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.carouselTicker').carouselTicker();

        var dd = $('.vticker').easyTicker({
            direction: 'up',
            easing: 'easeInOutBack',
            speed: 'slow',
            interval: 5000,
            height: 'auto',
            visible: 3,
            mousePause: 1,
        }).data('easyTicker');
    });

    jQuery('.carouselTicker').carouselTicker({
        speed: 5,
        delay: 50,
        reverse: true
    });
</script>
