@model PaskalaRitenis.Models.HomePageModel
@{
    ViewBag.Title = "Home Page";

}
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/jquery.easy-ticker.js"></script>
<section class="featured">
    <div class="content-wrapper">
        <h2>Ziņas</h2>
    </div>
    <div>
        <img src="~/Images/up1.png" class="up" />
        <img src="~/Images/up1.png" class="down" />
        @*<button class="up">Up</button>
        <button class="down">Down</button>*@
        <div class="vticker">

            <ul>
                @foreach (var news in Model.News)
                { 
                    <li>
                        @Html.Raw(news.Info)
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {

        var dd = $('.vticker').easyTicker({
            easing: 'easeInOutBack',
            speed: 'slow',
            //interval: 5000,
            animate: 0,
            height: 'auto',
            visible: 2,
            mousePause: 0,
            animated: 1,
            controls: {
                up: '.up',
                down: '.down',
            }
        }).data('easyTicker');

        $(".up, .down").mouseover(function () {
            $(this).attr('src', location +'/Images/up2.png');
        });
        $(".up, .down").mouseout(function () {
            $(this).attr('src', location + '/Images/up1.png');
        });
    });


</script>
